doctype html
html
	head
		script(src='//localhost:9000/livereload.js')
		script(src='../js/bower.js')
		script(src='../js/ADAGE.js')
		script(src='../js/App.js')
		link(rel="stylesheet" type="text/css" href="../css/bower.css" media="screen")
		link(rel="stylesheet" type="text/css" href="../css/main.css" media="screen")
		link(rel="stylesheet" type="text/css" href="../vendor/font-awesome-4.3.0/css/font-awesome.min.css" media="screen")

	block scripts
	body
		block content