.row
  .container.full.left
    .element
      .title.left
        =@group.name
      = link_to '', group_path(@group), class:'right fa fa-arrow-left fa-2x '
      .clear

      = render partial: 'form'