.row
  .container.full.left
    %table.striped_table
      %thead
        %th 
          Groups
          = link_to "New" ,new_group_path
          = link_to "Back", profile_path
      = render "list"

