%p.header Or Enter Student Information
=simple_form_for :invite, url: invite_class_path(@group) do |f|
  .content.full
    .login_element
      = f.input :email
    .login_element
      = f.input :player_name, label: :Username, required: false
  .full
    = f.button :submit,"Add Student",class: "green_button right"