.full.content.left
  .container
    %p.header User Management
    .one_half.left
      %p Students
      -if @group.users.count==0
        = "No Students in Class"

      - @group.users.each do |user|
        %li
          = user.player_name

    .one_half.right
      %p Students
      -if @group.users.count==0
        = "No Students in Class"

      - @group.users.each do |user|
        %li
          = user.player_name