- output = JSON.parse graph.metrics
.graph-container
  #yaxis
  .graph.line{ data: {options: {metrics: output,filters: {start: "1384898100",end: "1484898100"}}.to_json}}
  #legend
  = output["y"] +" over " +output["x"]