- metrics = JSON.parse graph.metrics
- filters = JSON.parse graph.filters
.graph-container
  #yaxis
  .graph.line{ data: {options: {metrics: metrics,filters: filters}.to_json}}
  #legend
  = metrics["y"] +" over " +metrics["x"]
  .refresh Refresh