-if @games.length > 0
  #games
    %label Games
    -@games.first(5).each do |game|
      -if can? :read, game
        .game.login_element
          = link_to game do
            = game.name
            %br
    -if @games.length >= 5
      .more
        = link_to 'View all', games_path