= javascript_include_tag :dashboard
%h2= @game.name + " DashBoard"

#toolbar
  %button#add-graph.button{data: {toggle: "modal" ,target: "#graph-modal"}} Add Graph

- @dashboard.graphs.each do |graph|
  = render partial: 'graph', locals: {graph: graph}

.modal.fade#graph-modal
  .modal-dialog
    .modal-content
      .modal-header
        %h4 Create Graph
        #variables
          %label.axis
            X-axis
            %input#x-axis
          %label.axis
            Y-axis
            %input#y-axis


          .btn-group{data: {toggle: "buttons"}}
            %label.btn.btn-primary
              %input{type: "radio",name: "options",id:"line"}
                Line
            %label.btn.btn-primary
              %input{type: "radio",name: "options",id:"bar"}
                Bar
          %label.date To
          %label.date From

      .modal-body
        .dropdown.open
          %a{href: "#",data: {toggle: "dropdown"}}
            DOEOIAWND
            %ul.dropdown-menu{role:"menu"}
              %label ASDASD

        %ol.breadcrumb
          %li
            %a{href: "#"} Home /
          %li
            %a{href: "#"} Other /
          %li
            %a{href: "#"} asd

        #metrics One

      .modal-footer
        %button#submit-graph.button Create
        %button#close-graph.button{data: {dismiss: "modal"}} Close
