.row
  .container.full.left
    .element
      .title.left
        =@game.name
      = link_to '', game_path(@game), class:'right fa fa-arrow-left fa-2x '
      .clear
      = render partial: 'implementations/add', locals: {game: @game} 