%table.table.table-striped
  %thead
    %tr 
      %th game
  %tbody
    - @games.each do |game|
      %tr
        %td
          = link_to game do 
            = game.name
            %br

- if can? :create, Game
  = link_to 'Add Game', new_game_path, class:'btn btn-primary'
