.row.games
  .container.full.left
    .element
      .title.left GLS Games
      = link_to '', new_game_path, class:'right fa fa-plus-square fa-2x '

  - @games.each do |game|
    = render "games/preview", game: game

.row.games
  .container.full.left
    .element
      .title.left Other Games
      = link_to '', new_game_path, class:'right fa fa-plus-square fa-2x '

  - @games.last(2).each do |game|
    = render "games/preview", game: game
