%h2= @game.name
%br

- if current_user.role?(@game.developer_role) || current_user.admin?
  = render partial: 'developer_show'

- if current_user.role?(@game.researcher_role) || current_user.admin?
  = render partial: 'researcher_show'
