defaults: &DEFAULTS
  adapter: postgresql
  encoding: unicode
  pool: 5

development:
  <<: *DEFAULTS
  database: ada_development

test: &TEST
  <<: *DEFAULTS
  database: ada_test

cucumber:
  <<: *TEST
