%h2= @game.name
%br

%h3 Virtual Context Information


%script
  != "playtimes = #{@chart_info.to_json};"
%script{src: '/assets/bar_chart.js', type: 'text/javascript'}
%canvas{id: 'playtime_chart', width: 1000, height: 500}


