- count = AdaData.with_game(@game.name).include_filters(@filters).where(key: :ADAGESessionEnd).count
- total_time = 0
- AdaData.with_game(@game.name).include_filters(@filters).where(key: :ADAGESessionEnd).pluck(:duration).each do |duration|
  - total_time += duration.to_i
- total_time /= 1000
- avg_time = total_time/count

:javascript
  $(document).ready( function() {



  });

.content.full
  .container
    .two_thirds.left
      %p 
        Total time spent playing:
        = Time.at(total_time).utc.strftime("%H:%M:%S")
      %p 
        Average time spent playing: 
        = Time.at(avg_time).utc.strftime("%H:%M:%S")


.content.one_half.left
  .container
    .title.center_text Average Final Scores
    #pulse-check

.content.one_half.right
  .container
    .title.center_text Average Score by Bone Set

.clear

.content.full
  .one_fourth.header.left Calf Leg
  .one_fourth.header.left Cow Skeleton
  .one_fourth.header.left Dog Skull
  .one_fourth.header.left Cat Skeleton

.content.full
  .container
    %p.header.center_text Calf Leg
    .two_thirds.left
      %p Total time spent playing:
    .one_third.right
      %p Quiz Score
