.full.content
  .datepicker.left
    %label{for: "from",name: "from"} From
    %input#from{type: "text",name: "from"}
    %label{for: "to",name: "to"} To
    %input#from{type: "text",name: "to"}

              
  %form.search.right{action: ""}
    %input.green_button.right{type: "submit", value: "Search"}
    %input.right{type: "search", name: "search",value: "Search For Student"}

  %select.right.class_dropdown
    %option{value: "volvo"} Super Ultra Mega Long Class Name
    %option{value: "volvo"} Super Ultra Mega Long Class Name
    %option{value: "volvo"} Super Ultra Mega Long Class Name
    %option{value: "volvo"} Super Ultra Mega Long Class Name


.content.one_half.left
  .container
    %p.header Example Graph
    #bar.graph

    :css
      .graph{
          @include full;
          height:325px;

          border: 1px solid gray;
          margin: 4px;
      }