.full.content
  .datepicker.left
    %label{for: "from",name: "from"} From
    %input#from{type: "text",name: "from"}
    %label{for: "to",name: "to"} To
    %input#from{type: "text",name: "to"}

  %form.search.right{action: ""}
    %input.green_button.right{type: "submit", value: "Apply"}
              
  %select.right.class_dropdown
    - @classes.each do |c|
      - if can? :read, c
        - if c.id ==@class.id
          %option{value: c.id,selected: "selected"}
            = c.name
        - else
          %option{value: c.id}
            = c.name

.content.one_half.left
  .container
    %p.header Example Graph
    #bar.graph

    :css
      .graph{
          @include full;
          height:325px;

          border: 1px solid gray;
          margin: 4px;
      }