
/*------------------------------------------------------------------

STYLESHEET CONTENTS

    -- MIXINS
    -- GLOBAL STYLES
    -- FONTS
    -- MISC CLASSES
    -- ACTIVE PAGE
    -- CONTAINERS
    -- NAVIGATION
    -- ELEMENTS
    -- FOOTER
    
-------------------------------------------------------------------*/



/*------------------------------------------------------------------

    Mixins

-------------------------------------------------------------------*/

@mixin center{ margin:0 auto; }

@mixin full { width:100%; float:left; }

@mixin transition($duration: 0.3s){
    -webkit-transition: all $duration;
       -moz-transition: all $duration;
        -ms-transition: all $duration;
         -o-transition: all $duration;
}

@mixin rounded_corners{
    -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
            border-radius: 3px;
}

@mixin page_width{
    width:500px;
}


/* End Mixins */



/*------------------------------------------------------------------

    Variables

-------------------------------------------------------------------*/

$primary-font: #546a7c;
$secondary-font: rgba(92, 89, 89, 0.66);
$fa-icon-color: #12181d;


/*------------------------------------------------------------------

    Global Styles

-------------------------------------------------------------------*/

* {
    margin:0; padding:0;

    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    }

html{ background:url(bg_2.png) 50% 0% no-repeat #26323c; }

body{ font-family:verdana; }

a{ text-decoration:none; }
    a:hover{  }

p{
    font-family: chaparral-pro;
    color: #546a7c;
    font-size: 16px;
    font-weight: 300;
}
    p.logotype{
        font-family:ubuntu;
        font-weight:700;
        color:white;
        font-size:100px;
    }
    
    p.betatype{
        font-family:ubuntu;
        font-weight:300;
        color:#4d7698;
        font-size:35px;
        margin:65px 0 0 10px;
    }
    
    p.poweredby{
        font-family:ubuntu;
        font-weight:300;
        color:#4d7698;
        font-size:15px;
        margin:15px 15px 0 0;
    }
    
    p.header{
        border-top: none;
        font-family: ubuntu;
        font-weight: 500;
        color: #24495B;
        font-size: 20px;
        text-align: left;
        padding:0 0 15px 0;
    }
    
ul{ list-style:none; }

hr{
    border:none;
    border-bottom:1px solid #25333f;
    width:100%;
    float:left;
}

h1{  }
h2{  }
h3{  }
h4{  }
h5{  }

::selection{ background:#161d23; color:white; }

.row{ 
    @include full; 

    .list{
        @include rounded_corners;
        
        border-spacing:0;
        float:left;
        width:100%;
        background:white;

        .item:nth-child(odd){
            background-color: #f6f9fc;
        }
        
        .item{
            padding:10px;
                border-top:1px solid #d3dee7;
            a{            
                font-size:14px;
                color:#546a7c;
                
                &:hover{
                    text-decoration:underline;
                }
            }
        }
    }


    .fa{
        color: $fa-icon-color;
        &:visited{
            color: $fa-icon-color;
        }
        &:hover{
            @include transition(0.2s);
            color: $fa-icon-color + 80;
            text-decoration: none !important;
        }
    }

    .game{
        .title{
            font-size: 1.5em;
            color: $primary-font;
            margin-bottom: 10px;
        }
    }

    .title{
        font-size: 1.5em;
        color: $primary-font;
        margin-bottom: 10px;
    }

    &.games{

        .game{
            font-size: 2.4em;
            color: $primary-font;
            #title{
                @include rounded_corners;
                position: relative;
                height: 180px;
                display: block;
                padding: 10px;
                margin: -10px -10px 10px -10px;
                background-color: rgb(231, 234, 234);

                span{
                    position: absolute;                    
                    width: 80%;
                    bottom: 10px;
                    left: 10%;
                    text-align: center;

                    color: $secondary-font;
                }

                .fa{
                    color: $primary-font;
                    font-size: 1.2rem;
                    position: absolute;
                    right: 4px;
                    top: 6px;

                    &:hover{
                        color: $primary-font + 80;
                    }
                }


                &:hover{
                    @include transition(0.2s);
                    background-color: rgb(231, 234, 234) +10;

                    span{
                        @include transition(0.2s);
                        color: $secondary-font + 80;
                    }


                    &:after {
                        @include transition(0.2s);
                        color: $primary-font + 80;
                    }
                }

                &:after {
                    content: "\f11b";
                    font-family: FontAwesome;
                    color: rgba(92, 89, 89, 0.66);
                    text-align: center;
                    display: block;
                    padding-top: 2%;
                    font-size: 3.1em;
                }
            }

            #stats{
                font-size: 1.0rem;
            }
        }
    }

}
/* End Global Styles */



/*------------------------------------------------------------------

    Fonts and Icons

-------------------------------------------------------------------*/

@font-face {
	font-family: icomoon;
	src:url(icomoon.eot);
	src:url(icomoon.eot) format('embedded-opentype'),
		url(icomoon.woff) format('woff'),
		url(icomoon.ttf) format('truetype'),
		url(icomoon.svg) format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon_"], [class*=" icon_"] {
    font-family: icomoon;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon_home:before {
    content: "\e600";
    float:left;
    font-size:28px;
    margin:0 0 0 0;
}

.icon_edit:before {
    content: "\e601";
    float:left;
    font-size:28px;
    margin:0 0 0 0;
}

.icon_games:before {
    content: "\e602";
    float:left;
    font-size:28px;
    margin:0 0 0 0;
}

.icon_groups:before {
    content: "\e603";
    float:left;
    font-size:28px;
    margin:0 0 0 0;
}
.icon_tools:before {
    content: "\e604";
    float:left;
    font-size:28px;
    margin:0 0 0 0;
}
.icon_admin:before {
    content: "\e612";
    float:left;
    font-size:28px;
    margin:0 0 0 0;
}

.icon_logout:before {
    content: "\e605";
    float:left;
    font-size:28px;
    margin:0 0 0 0;
}

.top{
    position: absolute;
    top: 0;
    left: 0;
    width: 80px;
}

.bottom{
    bottom: 20px;
    position:absolute;
    width:80px;
    left:0;
    
    @include transition;

    width:30px;
    height:30px;
    margin:0px 5px 20px 26px;
    color:#485e70;

    &:hover{
        @include transition;
        
        color:#98CD80;
    }
    span{
        &:active{
            @include transition;
            
            color:#98CD80;
        }
    }
}

/* End Fonts and Icons */




/*------------------------------------------------------------------

    Misc Classes

-------------------------------------------------------------------*/

.clear{ clear: both; }

.left{ float:left; }
.right{ float:right; }

.bold{ font-weight:500;}
.italic{ font-style: italic; }
.underline{ text-decoration:underline; }

.center_text{ text-align:center; }
.all_caps{ text-transform:uppercase; }
.lower_case{ text-transform:lowercase; }
.white{ color:white; }

/* End Misc Classes */



/*------------------------------------------------------------------

    Active Page

-------------------------------------------------------------------*/

    /*
      body#ID_NAME_HERE .Navigation_Name li.List_Item_Class_Here{ Style for active Nav button }
    */

/* End Active Page */



/*------------------------------------------------------------------

    Containers

-------------------------------------------------------------------*/

.one_eigth{ width:12.5%; }
.one_sixth{ width:16.66%; }
.one_fourth{ width:25%;  }
.one_third{ width:33.33%; }
.one_half{ width:50%; }
.two_thirds{ width:66.66%; }
.full{ @include full; }

.container{ padding:0 10px 20px 10px; }

.row{ @include full; }

.element{
    @include rounded_corners;
    
    float:left;
    width:100%;
    background:white;
    padding:20px;
}

.wrap{ padding:0 10px 20px 10px; }

.page_wrap{ display:block; margin:20px 20px 20px 100px; }

.main_content{ width:80%; margin:0 auto; }

.login_container{
    @include rounded_corners;
    
    background:white;
    padding:20px;
    margin:0 0 75px 0;
    
    .login_element{
        @include full;
        
        margin:5px 0;
        
        label{
            float:left;
            
            font-family:ubuntu;
            font-size:16px;
            color:#546a7c;
            margin:8px 0 0 0;
        }
        
        input{
            @include rounded_corners;
            
            background:#f6f9fc;
            border:1px solid #d0dce6;
            width:360px;
            float:right;
            padding:10px 10px 10px 5px;
            
            font-family:ubuntu;
            font-size:16px;
            color:#839eb5;
            font-style:italic;
        }
        
    }
}

.logo_container{
    @include full;
    
    margin:75px 0 75px 0;
}


.welcome_or_error_container{
    @include full;
        
    margin:0 0 20px 0;
    
    p.welcome_back{
        float:left;
        font-family: ubuntu;
        font-weight: 300;
        color: #c4ecff;
        font-size: 25px;
        line-height:50px;

        &.error_text{
            color:#d15757;
        }
        
    }
    
}


/* End Containers */



/*------------------------------------------------------------------

    Navigation

-------------------------------------------------------------------*/

header{  }

.navigation{
    @include full;

    li{
        float:left;
        margin:0 0 70px 0;
        
        a{
            font-family:ubuntu;
            color:rgba(255,255,255,.5);
            font-weight:300;
            font-size:14px;
            margin:0 9px 0 9px;
            
            @include transition;
        }
        
        a:hover{
            color:white;
            text-decoration:none;
            
            @include transition;
        }
    }
}

.side_navigation{
    
    width:80px;
    top: 0;
    left: 0;
    bottom: 0;
    position:fixed;
    background:#12181d;
    
    ul{
        float:left;
        margin:20px 0 0 0 ;
        a{
            li{
                @include transition;
                
                display:block;
                width:30px;
                height:30px;
                margin:0px 5px 20px 26px;
                color:#485e70;
            
                &:hover{
                    @include transition;
                    
                    color:#98CD80;
                }
                span{
                
                
                
                &:active{
                    @include transition;
                    
                    color:#98CD80;
                }
                }
            }
        }
    }
    
    .icon_active{
        @include transition;
        
        color:#98CD80;
    }
    
    .divider{
        border-top: 2px solid $primary-font;
        padding: 0px;
    }

    div {
        margin:-60px -100px 0 80px;
        width:225px;
        position:fixed;
        display:none;
        background: #12181d;
        padding:5px 5px 5px 0;
        
        a{
            @include transition;
            
            float:left;
            padding:15px 10px;
            width:100%;
    
            font-family: ubuntu;
            color: rgba(255,255,255,.5);
            font-weight: 300;
            font-size: 14px;
            
            &:hover{
                @include transition;
                
                color:white;
                background:#23313c;
            }
            
        }
    }

}


/* End Navigation */



/*------------------------------------------------------------------

    Elements

-------------------------------------------------------------------*/
  
.element{  }

.small_logo{
    
    .logotype{
        font-size:35px;
        margin:3px 0 0 0;
    }
    
    .betatype{
        font-size:22px;
        margin:17px 0 0 5px;
    }
}

.fork_button{
    float:right;
    margin:10px 0 0 0;
    padding:9px 10px 9px 10px;
    border-radius:3px;
    box-shadow:0px 4px 0px #5c9941,
               0px 2px 5px rgba(0,0,0,.15);
    border-top:1px solid #caf6aa;
    
    font-family:ubuntu;
    font-size:13px;
    color:white;
    font-weight:700;
    letter-spacing:.5px;
    
    background: #8fd06f; /* Old browsers */
    background: -moz-linear-gradient(top,  #8fd06f 0%, #7fca61 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#8fd06f), color-stop(100%,#7fca61)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #8fd06f 0%,#7fca61 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #8fd06f 0%,#7fca61 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #8fd06f 0%,#7fca61 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #8fd06f 0%,#7fca61 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8fd06f', endColorstr='#7fca61',GradientType=0 ); /* IE6-9 */

    &:hover{
        cursor:pointer;
    
        background: #9cce84; /* Old browsers */
        background: -moz-linear-gradient(top,  #9cce84 0%, #8bc970 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#9cce84), color-stop(100%,#8bc970)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top,  #9cce84 0%,#8bc970 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top,  #9cce84 0%,#8bc970 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top,  #9cce84 0%,#8bc970 100%); /* IE10+ */
        background: linear-gradient(to bottom,  #9cce84 0%,#8bc970 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9cce84', endColorstr='#8bc970',GradientType=0 ); /* IE6-9 */
    }
    
    &:active{
        box-shadow:0px 0px 2px rgba(0,0,0,.15);
        margin:14px 0 -4px 0;
    }

}

.remember_me{
    float:right;
    
    p{
        float:right;
        margin:20px 0 0 0;
    }
    
    input[type="checkbox"]{
        float:right;
        margin:23px 20px 0 10px
    }
}




/* End Elements */



/*------------------------------------------------------------------

    Footer

-------------------------------------------------------------------*/
footer{  }

/* End Footer */












