.graph-container{
  padding: 20px;
  margin: 10px;
  width: 450px;
  background-color: rgb(184, 184, 184);
  float:left;

  #yaxis{
    border-radius:5px;
    padding:5px;
    background-color: white;
    float:left;
    width: 30px;
    height: 280px;
    margin-top: 10px;
  }

  .graph{
  border-radius:5px;
    padding:10px;
    background-color: white;
    margin: 10px;
    margin-left: 30px;
    padding-bottom:30px;

    .x_tick{
      .title{
        bottom: 5px !important;
        color: black !important;
        font-size: 0.8em !important;
        /*
          transform:rotate(-35deg);
          -ms-transform:rotate(-35deg);
          -webkit-transform:rotate(-35deg);
        */
      }
    }

    .y_grid,.y_ticks{
        left: -20px !important;
      .tick{
        left: -20px !important;
        color: black !important;
        font-size: 1.2em !important;
      }
    }
  }

  #legend{
    width: 100px;
    min-height: 20px;
    margin-top: 30px;
    margin-left: 10px;
  }
}

#toolbar{
  border: 1px solid rgb(153, 153, 153);
  padding: 15px;
  margin: 10px;
  height: 30px;

  #add-graph{
    float:right;
  }
}

#metrics{
  ul{
    width: 300px;
    label{
      border-radius: 5px;
      background-color: #f5f5f5;
      border: 1px solid gray;
      padding: 5px;
      width: 200px;

      &:hover{
        background-color: rgb(204, 200, 200);
      }

      &.selected{
        background-color: orange;
        -webkit-transition: background-color 0.2s;
        transition: background-color 0.2s;
      }
    }

    clear:both;
  }
}

#graph-modal{
  width: 900px;
  margin-left: -450px;

  h4{
    text-align: center;
    padding-bottom:5px;
    border-bottom: 1px solid gray;
  }

  .modal-header{
    #variables{
      .axis{
        padding:5px;
        margin-right:10px;
        display: inline-block;
        border: 1px solid black;

        input{
          padding:5px;
          &:checked{
            visibility: hidden;
          }
        }
      }

      .date{
        float:right;
        padding:5px;
        margin-right:10px;
        display: inline-block;
        border: 1px solid black;

      }

      input[type="radio"]{
        text-align: center;
        visibility: hidden!important;
        &:checked{
          visibility: hidden;
        }
      }
    }

  }
}


.modal{
  display: none;
}

.modal-backdrop.fade.in {
  opacity: 0.3 !important;
}