@import 'mixins';

.hide{display:none;}
.loader{
  background-repeat: no-repeat;
  width: auto;
  height: auto;
  padding: 10px;

}

#logger{
  padding-top:10px;

  table{
    width: 70%;

    .rows{
      .init{
        background-color: rgba(253, 224, 106, 0.41);
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;
      }
      tr{
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;

        .log{
          display: none;
          margin-left: 20px;
          position: absolute;
          top: 40%;
          width: 500px;
          border: 1px solid #ddd;
          background-color: #FBFBFD;
          @include rounded(4px);

          pre{
            font-size:0.8em;
            line-height: 1.4em;
          }
        }

        &:hover{

          background-color: rgba(228, 228, 228, 0.41);
          -webkit-transition: all 0.2s ease;
          -moz-transition: all 0.2s ease;
          -o-transition: all 0.2s ease;
          transition: all 0.2s ease;
        }
      }
    }
  }

  height:450px;
}


body{
  width: 100%;
  margin: 0;
}

.page_wrap{
  width: 1080px;
  margin: 0 auto;
}

table{
  border: 1px solid #ddd;
  @include rounded(4px);

  th{
    font-size: 1.2em;

    &:first-letter{
      text-transform: capitalize;
    }
  }
}


//Game Views
h2#game{
  font-size: 2.4em;
  span.stat{
    padding-left: 10px;
    line-height: 40px;
    display: inline-block;
    font-size: 1.2rem;
    margin: 2px;
    color: #3a87ad;

    label{
      letter-spacing: 0.02em;
      font-size: 1.3rem;
      color: #333;
      display: inline-block;
      margin-right: 5px;    }
  }

}

#user_checkboxes{
  padding:10px;
}

#pagination{
  width: 260px;
  margin: 0 auto;
  padding:4px;
  display: block;
  .pagination{
    margin: 0;
  }
}