
/*------------------------------------------------------------------

STYLESHEET CONTENTS

    -- MIXINS
    -- GLOBAL STYLES
    -- MISC CLASSES
    -- ACTIVE PAGE
    -- CONTAINERS
    -- NAVIGATION
    -- ELEMENTS
    -- FOOTER

-------------------------------------------------------------------*/



/*------------------------------------------------------------------

    Mixins

-------------------------------------------------------------------*/

@mixin center{ margin:0 auto; }

@mixin full { width:100%; float:left; }

@mixin transition{
    -webkit-transition: all 0.5s ease;
       -moz-transition: all 0.5s ease;
        -ms-transition: all 0.5s ease;
         -o-transition: all 0.5s ease;
}

@mixin rounded_corners{
    -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
            border-radius: 3px;
}

@mixin page_width{
    width:500px;
}


/* End Mixins */



/*------------------------------------------------------------------

    Global Styles

-------------------------------------------------------------------*/

* {
    margin:0; padding:0;

    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    }

html{ overflow:scroll; background:url(bg.png) 50% 0% no-repeat #060e16; }

body{ font-family:verdana; }

a{ text-decoration:none; }
    a:hover{  }

p{
    font-family: chaparral-pro;
    color: #546a7c;
    font-size: 16px;
    font-weight: 300;
}
    p.logotype{
        font-family:ubuntu;
        font-weight:700;
        color:white;
        font-size:100px;
    }

    p.betatype{
        font-family:ubuntu;
        font-weight:300;
        color:#4d7698;
        font-size:35px;
        margin:65px 0 0 10px;
    }

    p.poweredby{
        font-family:ubuntu;
        font-weight:300;
        color:#4d7698;
        font-size:15px;
        margin:15px 15px 0 0;
    }

ul{ list-style:none; }

hr{  }

h1{  }
h2{  }
h3{  }
h4{  }
h5{  }

::selection{ background:#161d23; color:white; }

/* End Global Styles */


/*------------------------------------------------------------------

    Misc Classes

-------------------------------------------------------------------*/

.clear{ clear: both; }

.left{ float:left; }
.right{ float:right; }

.bold{ font-weight:500;}
.italic{ font-style: italic; }
.underline{ text-decoration:underline; }

.center_text{ text-align:center; }
.all_caps{ text-transform:uppercase; }
.lower_case{ text-transform:lowercase; }

/* End Misc Classes */



/*------------------------------------------------------------------

    Active Page

-------------------------------------------------------------------*/

    /*
      body#ID_NAME_HERE .Navigation_Name li.List_Item_Class_Here{ Style for active Nav button }
    */

/* End Active Page */



/*------------------------------------------------------------------

    Containers

-------------------------------------------------------------------*/

.one_eigth{ width:12.5%; }
.one_sixth{ width:16.66%;}
.one_fourth{ width:25%; }
.one_third{ width:33.33%; }
.one_half{ width:50%; }
.two_thirds{ width:66.66%; }
.full{ @include full; }
.floatleft{float:left !important};
.floatright{float:right !important};

.container{  }

.page_wrap{ @include page_width; padding-top:20px; @include center; }

.main_content{ @include full; }

.login_container{
    @include full;
    @include rounded_corners;

    background:white;
    padding:20px;
    margin:0 0 15px 0;

    .login_element{
        @include full;

        margin:5px 0;

        label{
            float:left;

            font-family:ubuntu;
            font-size:16px;
            color:#546a7c;
            margin:8px 0 0 0;
        }

        input{
            @include rounded_corners;

            background:#f6f9fc;
            border:1px solid #d0dce6;
            width:360px;
            float:right;
            padding:10px 10px 10px 5px;

            font-family:ubuntu;
            font-size:16px;
            color:#839eb5;
            font-style:italic;
        }

    }
}

.logo_container{
    @include full;

    margin:75px 0 50px 0;
}


.welcome_or_error_container{
    @include full;

    margin:0 0 10px 0;

    p{
        font-family: ubuntu;
        font-weight: 300;
        color: #c4ecff;
        font-size: 25px;
        text-align:center;

        &.error_text{
            color:#d15757;
        }

    }

}

/* End Containers */



/*------------------------------------------------------------------

    Navigation

-------------------------------------------------------------------*/

header{  }

.navigation,.sign_up{
    @include full;
    

    li,p{
        float:left;
        margin:0 0 70px 0;

        a{
            font-family:ubuntu;
            color:rgba(255,255,255,.5);
            font-weight:300;
            font-size:14px;
            margin:0 9px 0 9px;

            @include transition;
        }

        a:hover{
            color:white;
            text-decoration:none;

            @include transition;
        }
    }
}


/* End Navigation */



/*------------------------------------------------------------------

    Elements

-------------------------------------------------------------------*/

.element{  }

.small_logo{
    @include center;

    width:285px;
    padding:75px 0 0 0;

    .logotype{
        font-size:35px;
        margin:3px 0 0 0;
    }

    .betatype{
        font-size:22px;
        margin:17px 0 0 5px;
    }
}

.fork_button{
    float:right;
    margin:10px 0 0 0;
    padding:9px 10px 9px 10px;
    border: 0px;
    border-radius:3px;
    box-shadow:0px 4px 0px #070F17,
               0px 2px 5px rgba(0,0,0,.15);
    border-top:1px solid #22B1C3;

    font-family:ubuntu;
    font-size:13px;
    color:white;
    font-weight:700;
    letter-spacing:.5px;

    background: #234d70; /* Old browsers */
    background: -moz-linear-gradient(top,  #234d70 0%, #142c40 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#234d70), color-stop(100%,#142c40)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #234d70 0%,#142c40 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #234d70 0%,#142c40 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #234d70 0%,#142c40 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #234d70 0%,#142c40 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#234d70', endColorstr='#142c40',GradientType=0 ); /* IE6-9 */


    &:hover{
        cursor:pointer;

        background: #3f586d; /* Old browsers */
        background: -moz-linear-gradient(top,  #3f586d 0%, #21313f 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3f586d), color-stop(100%,#21313f)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top,  #3f586d 0%,#21313f 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top,  #3f586d 0%,#21313f 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top,  #3f586d 0%,#21313f 100%); /* IE10+ */
        background: linear-gradient(to bottom,  #3f586d 0%,#21313f 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3f586d', endColorstr='#21313f',GradientType=0 ); /* IE6-9 */

    }

    &:active{
        box-shadow:0px 0px 2px rgba(0,0,0,.15);
        margin:14px 0 -4px 0;
    }

}

.remember_me{
    float:right;

    p{
        float:right;
        margin:20px 0 0 0;
    }

    input[type="checkbox"]{
        float:right;
        margin:23px 20px 0 10px
    }
}

.gls_logo{
    float:left;
    height:184px;
    width:426px;
    margin:0 0 0 35px;
    background:url(gls_logo.png);
}


/* End Elements */



/*------------------------------------------------------------------

    Footer

-------------------------------------------------------------------*/
footer{  }

/* End Footer */












